.community_page_wrap {
  width: 900px;
  margin: 50px auto;
  text-align: center;
}

.community_wrap {
  margin-top: 50px;
}

.search_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.search_wrap > select {
  padding: 10px;
  appearance: none;
  border-radius: 4px;
  padding-right: 30px;
  border: 1px solid var(--primary);
  outline: none;
  color: var(--line);
}

.search_wrap > input {
  width: 400px;
}

.search_wrap > button {
  padding: 5px 16px;
}

.search_wrap > button > span {
  color: var(--gray8);
  font-weight: 600;
  font-size: 25px;
}

.order_item_wrap {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.order_wrap {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 16px;
}
.write_btn_zone {
  display: flex;
}

.order_item_wrap select {
  padding: 9px;
  appearance: none;
  border-radius: 4px;
  padding-right: 30px;
  border: 1px solid var(--primary);
  outline: none;
  color: var(--line);
}

.community_list_none {
  margin-top: 50px;
  background-color: var(--gray7);
  padding: 50px;
  border-radius: 8px;
  text-align: center;
  min-height: 200px;
}
