.community_wrap {
  width: 900px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--gray8);
}
.community_view_wrap {
  margin-top: 50px;
  border: 1px solid var(--line);
  padding: 16px;
  border-radius: 8px;
}

/* 제목 */
.community_title {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  height: 50px;
  border-radius: 0;
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid var(--primary); /* 아래쪽만 초록색 */
}

/* 작성자, 날짜, 조회수 */
.community_writer,
.community_date,
.community_view_count {
  display: flex;
  align-items: center;
  gap: 12px; /* 아이콘과 글자 사이 간격 */
  font-size: 15px;
  font-weight: bold;
}

/* 작성자, 날짜, 조회수 세로로 간격 넓히기 */
.community_sub_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* 날짜 및 조회수 있는 쪽 왼쪽에 여백 약간 줘서 세로 간격 맞추기 */
.community_date,
.community_view_count {
  margin-left: 5px;
}

/* 아이콘 자체의 크기나 위치 미세 조정 */
.icon {
  font-size: 22px !important; /* 아이콘 크기가 너무 크면 조정 */
  display: flex;
  align-items: center;
}

/* 회원 프로필 관련*/
.community_writer > .member_thumb {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 18px;
  background-color: var(--gray6);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray6);
}

.community_writer > .member_thumb > span {
  color: var(--gray8);
  font-size: 40px;
}

.community_writer > .member_thumb_exists {
  width: 32px;
  height: 32px;
  border-radius: 18px;
  background-color: var(--gray6);
  overflow: hidden;
}

.community_writer > .member_thumb_exists > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 조회수 아이콘 색상 */
.community_view_count > .icon {
  color: var(--primary);
}

/* 내용 */
.community_view_content {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 0;
  border-top: 1px solid var(--primary);
  min-height: 150px;
  line-height: 1.6;
  white-space: pre-wrap;
  word-break: break-all;
}

/* 내용에서 개행 */
.community_view_content p {
  min-height: 1em; /* 빈 문단이더라도 높이를 가지게 함 */
}

/* 수정/삭제 버튼 + 좋아요 및 싫어요 + 신고하기 버튼 */
.community_action_btn_wrap {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

/* 수정/삭제 버튼 사이의 간격 */
.button_group {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* 좋아요 및 싫어요 + 신고하기 버튼 */
.community_like_dislike_report_wrap {
  display: flex;
  align-items: center;
}

/* 수정, 삭제 버튼 */
.left {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

/* 신고하기 버튼 */
.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 좋아요와 싫어요 */
.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* 싫어요랑 좋아요 아이콘과 간격 확보 */
.community_dislike_wrap {
  margin-left: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 좋아요와 싫어요 */
.community_like_wrap,
.community_dislike_wrap {
  display: flex;
  align-items: center;
  gap: 8px; /* 아이콘이랑 숫자 간격 */
}

/* 좋아요와 싫어요 아이콘 갖다댈 때 cursor: pointer; */
.community_like_wrap svg,
.community_dislike_wrap svg {
  cursor: pointer;
}

/* 좋아요와 싫어요 "숫자 표시"에는 cursor: pointer 해제 */
.community_like_wrap span,
.community_dislike_wrap span {
  cursor: default;
}

/* 좋아요 ON 상태일 때 초록색, 싫어요는 빨간색 */
.like_active > svg {
  fill: var(--primary);
}

.dislike_active > svg {
  fill: var(--danger);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 신고하기 버튼 누르면 내용들 */
.report_modal {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal_btn_wrap {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 10px;
}

/* 신고 사유 입력 1,000자 입력 글씨 크기 조정 */
.report_modal textarea::placeholder {
  font-size: 13px;
}

/* 기본 글자 수 */
.text_count {
  font-size: 13px;
  color: var(--gray3);
  text-align: right;
}

/* 신고 사유 내용 1,000자 도달 시 */
.limit {
  color: var(--danger);
  font-weight: 700;
}

/* 휴지통 버튼만 빨간색 */
.delete_icon {
  color: var(--danger);
}
