/* 컴포넌트 전체 랩 */
.community_write_wrap {
  width: 900px;
  margin: 0px auto;
}

/* 게시글 작성 글자 (맨 위 구분하기 쉽게 적어놓음)*/
.community_write_wrap > h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--primary);
  font-size: 30px;
  font-weight: 600;
}

.title_input_box {
  position: relative;
}

.title_count {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  color: var(--gray3);
}

/* 제목 50자 도달 시 */
.limit {
  color: var(--danger);
  font-weight: 600;
}

/* 내용과 에디터 간격 */
.community_input_wrap label {
  display: block;
  margin-bottom: 10px;
}

/* 제목, 내용 글씨 키우기 및 강조 */
.community_input_wrap label {
  font-size: 20px;
  font-weight: 600;
}

.community_input_wrap {
  margin-bottom: 20px;
}

/* 버튼 (등록, 취소) */
.community_write_btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 8px;
  gap: 20px;
}

/* 텍스트 에디터 */
.editor_wrap {
  border: 1px solid var(--gray5);
  border-radius: 8px;
  overflow: hidden;

  /* ⭐ 기준점 */
  position: relative;
}

.menu_bar {
  display: flex;
  margin-top: 20px;
  gap: 8px;
  flex-wrap: wrap;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.menu_bar button,
.menu_bar input {
  background-color: white;
  width: 50px;
  height: 50px;
  padding: 8px 12px;
  border: 1px solid var(--secendary);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  color: var(--primary); /*기본 글자*/
}

.menu_bar button:hover svg {
  fill: var(--light);
}
.menu_bar button.active {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.menu_bar button.active svg {
  fill: var(--light);
}

.editor_content {
  padding: 16px;
}
.editor_content > div {
  min-height: 400px;
  padding: 12px;
  outline: none;
  border: 1px solid var(--gray3);
  border-radius: 12px;
  line-height: 1.4;
}
.editor_content > div:hover {
  background-color: var(--bg);
}
.editor_content > div ul {
  padding-left: 20px;
}

/* 휴지통 버튼만 빨간색 */
.delete_icon {
  color: var(--danger);
}

/* 오른쪽 아래 글자수 */
.editor_count {
  text-align: right; /* 오른쪽 정렬 원하면 */
  bottom: 12px;
  font-size: 13px;
  color: var(--gray3);
  margin-right: 20px;
  margin-bottom: 12px;
}

/* 내용 4,000자 도달 */
.limit {
  color: var(--danger);
  font-weight: 600;
}
