.member_info_wrap {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
}

.profile_info > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.member_auth_pw {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.member_auth_pw > input {
  width: 200px;
}

.member_thumb_img_wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-items: end;
  gap: 16px;
}

.member_thumb {
  height: 200px;
  width: 200px;
  background-color: var(--gray6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.member_thumb > span {
  font-size: 180px;
  color: var(--gray8);
}

.member_thumb_exists {
  width: 200px;
  height: 200px;
  background-color: var(--gray7);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.member_thumb_exists > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb_button_wrap {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-bottom: 44px;
}

.profile_info_update {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile_info_update > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 10px 50px;
}

.member_thumb_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info_input_wrap {
  list-style-type: none;
  display: flex;
  width: 100%;
}

.info_input_wrap > li:first-child {
  width: 12%;
  align-self: center;
}

.member_grade > li > label > input {
  margin-right: 4px;
}

.member_name > li:nth-child(2) {
  width: 30%;
}
.member_id > li:nth-child(2) {
  width: 30%;
}
.member_email > li:nth-child(2) {
  width: 40%;
}

.member_email_auth > li:first-child {
  width: 30%;
}
.member_email_auth > li:nth-child(2) {
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member_email_auth > li:nth-child(3) {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member_email_auth > li:nth-child(4) {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member_email_auth > li:nth-child(5) {
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member_postcode > li:nth-child(2) {
  width: 11%;
}
.member_addr > li:nth-child(2) {
  width: 55%;
}
.member_detail_addr > li:nth-child(2) {
  width: 55%;
}

.info_input_wrap > li:nth-child(2) {
  margin-right: 16px;
}

.profile_info_update > form > button {
  margin-top: 50px;
}

.member_delete_button_wrap {
  width: 100%;
  display: flex;
  justify-content: end;
}

.validation_msg {
  font-size: 13px;
  margin-top: 4px;
  padding-left: 4px;
  font-weight: 600;
}

.validation_msg.valid {
  color: var(--secendary);
}

.validation_msg.invalid {
  color: var(--danger);
}
