.member_management {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
}

.search_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order_wrap {
  width: 100%;
  display: flex;
  gap: 4px;
}

.search_wrap > form {
  max-height: 42.22px;
}

.search {
  display: flex;
  gap: 4px;
}

.search > input {
  width: 250px;
}

.list_wrap {
  width: 100%;
}

.search span {
  color: var(--gray8);
  font-weight: 800;
}
