.myboard_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 40px;
  margin-top: 10px;
  align-items: center;
}

.myboard_list_content {
  margin: 0 auto;
}

.filter_section {
  width: 700px;
  margin: 0 auto;
  display: flex;
}

.filter_select {
  margin-left: auto;
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.filter_input {
  align-self: flex-end;
  display: flex;
  gap: 10px;
  align-items: center;
}
