.mycomment_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 40px;
  align-items: center;
  margin-top: 10px;
}

.filter_section {
  width: 700px;
  margin: 0 auto;
  display: flex;
}

.filter_select {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.filter_input {
  align-self: flex-end;
  display: flex;
  gap: 10px;
  align-items: center;
}

.mycomment_list_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_icon {
  cursor: pointer;
}
