.member_info_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
}

.carbon_contribution_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 40px 0;
  margin-top: 30px;
  border-bottom: 2px solid var(--gray6);
}

.carbon_contribution_wrap > p {
  font-family: tr_b;
  font-size: 20px;
  color: var(--primary);
}

.carbon_contribution {
  border: 3px solid var(--gray5);
  padding: 12px 150px;
  border-radius: 8px;
}

.carbon_contribution > p {
  font-family: tr_b;
  font-size: 24px;
  color: var(--primary);
}

.chart_item_wrap {
  width: 100%;
  margin-bottom: 30px;
  align-items: flex-start;
}

.chart_title {
  margin-top: 50px;
  width: 100%;
  text-align: start;
}

.chart_title > p {
  font-family: tr_b;
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 12px;
}

.chart_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  border: 2px solid var(--gray6);
  padding: 40px 10px;
}

.chart_wrap .recharts-text,
.chart_wrap svg,
.chart_wrap .recharts-wrapper {
  outline: none !important;
  user-select: none !important;
}

.chart_wrap *:focus {
  outline: none !important;
}

.chart_wrap * {
  outline: none !important;
}

.community_wrap {
  width: 827px;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.comm_section_box {
  flex: 1;
  min-width: 0;
  max-width: 50%;
  background-color: var(--gray8);
  border-radius: 20px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray7);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

.comm_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.comm_card {
  padding: 18px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--gray6);
  transition: all 0.2s ease;
}

.comm_card:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.comm_card:hover {
  background-color: var(--gray7);
  border-radius: 8px;
}

.comm_card:hover .comm_item_title {
  color: var(--primary);
}

.comm_card_none {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  padding: 50px 10px 0 0;
}

.comm_item_title {
  font-size: 16px;
  font-weight: bold;
  color: var(--text1);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.2s ease;
}

.comm_item_content {
  font-size: 14px;
  color: var(--gray4);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comm_meta_box {
  font-size: 13px;
  color: var(--gray5);
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  gap: 5px; /* 메타 정보 사이 간격 살짝 넓힘 */
  margin-top: 4px;
}

.divider {
  color: var(--gray6);
  font-size: 10px;
}

.writer {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time_view {
  white-space: nowrap;
  color: var(--gray2);
}

.like_count {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--danger);
  font-weight: 600;
}

.heart_icon {
  font-size: 14px !important;
}
