.trade_status_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 40px;
}

.list_section {
  width: 900px;
}

.trade_item {
  list-style-type: none;
  display: flex;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid var(--gray6);
}

.trade_item > li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.title_ul {
  border-top: 1px solid var(--gray6);
  font-size: large;
  padding: 0px 5px;
  background-color: var(--secendary);
}
.title_ul > li {
  color: var(--gray8);
}

.trade_no {
  width: 9%;
}
.trade_title {
  width: 33%;
}
.trade_addr {
  width: 24%;
}
.trade_price {
  width: 13%;
}
.trade_completed {
  width: 9%;
}
.trade_completed_date {
  width: 12%;
}

.chart_filter_section {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding-top: 30px;
}

.pagination {
  margin: 20px 0;
}

.chart_section {
  width: 900px;
  height: 400px;
  margin: 10px auto;
}
