.input {
  width: 100%;
  outline: none;
  padding: 8px 4px;
  border: 1px solid var(--gray5);
  border-radius: 4px;
  padding-left: 16px;
}
.input:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 0.25rem rgba(37, 99, 235, 0.3);
}
.input:read-only,
.input:disabled {
  background-color: var(--gray7);
}

.textarea {
  width: 100%;
  outline: none;
  padding: 8px 4px;
  border: 1px solid var(--gray5);
  border-radius: 8px;
  min-height: 300px;
  resize: none;
}
.textarea:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 0.25rem rgba(37, 99, 235, 0.3);
}
