.editor_wrap {
  border: 1px solid var(--gray5);
  border-radius: 8px;
  overflow: hidden;
}

.menu_bar {
  display: flex;
  margin-top: 20px;
  gap: 8px;
  flex-wrap: wrap;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.menu_bar button,
.menu_bar input {
  width: 50px;
  height: 50px;
  padding: 8px 12px;
  border: 1px solid var(--secendary);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  color: var(--primary); /*기본 글자*/
}

.menu_bar button:hover {
  background-color: var(--secendary);
}
.menu_bar button:hover svg {
  fill: var(--light);
}
.menu_bar button.active {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.menu_bar button.active svg {
  fill: var(--light);
}

.editor_content {
  padding: 16px;
}
.editor_content > div {
  min-height: 400px;
  padding: 12px;
  outline: none;
  border: 1px solid var(--gray3);
  border-radius: 12px;
  line-height: 1.4;
}

.editor_content > div strong {
  font-family: gs_b;
}

.editor_content > div {
  padding-left: 20px;
}

.editor_content > div img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 12px 0px;
}
