* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: tr_r;
}
body {
  color: var(--gray1);
}

:root {
  --primary: #549849;
  --secendary: #78b66d;
  --soft: #c5d1c2;
  --light: #f0f7ee;
  --danger: #d33c3c;
  --footer: #fbfaf5;
  --line: #216117;

  --bg: #ffffff;
  --text1: #1e293b;
  --text2: #64748b;

  --gray0: #000000;
  --gray1: #222222;
  --gray2: #555555;
  --gray3: #717171;
  --gray4: #8f8f8f;
  --gray5: #b7b7b7;
  --gray6: #d6d6d6;
  --gray7: #efefef;
  --gray8: #ffffff;

  /* 좋아요 버튼용 pink 추가*/
  --pink1: #f48fb1; /*벚꽃*/
  --pink2: #f06292; /*코랄벚꽃*/
  --pink3: #ec407a; /*파스텔로즈*/
}

body {
  background-color: var(--bg);
}

a {
  text-decoration: none;
}

.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 146px; /* logo에서 말한 부분으로 이 값을 적절히 수정하지 않으면 header 아래의 main-content들이 header에 가려짐!! 주의!!*/
}

.main {
  flex-grow: 1;
}

.page-title {
  font-family: tr_b;
  font-size: 30px;
  color: var(--line);
}
