.item_wrap {
  display: flex;
  gap: 10px;
}

.comment_wrap {
  width: 700px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gray4);
  padding: 10px;
}

.item_wrap:first-child .comment_wrap {
  border-top: 1px solid var(--gray4);
}

.comment_writer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.member_thumb {
  width: 40px;
  height: 40px;
  background-color: var(--gray6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.member_thumb > span {
  font-size: 40px;
  color: var(--gray8);
}

.member_thumb_exists {
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: var(--gray6);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}

.member_thumb_exists > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment_writer_info {
  display: flex;
  flex-direction: column;
}

.comment_content {
  padding: 5px;
}

.comment_type {
  font-size: 13px;
  color: var(--gray4);
}

.comment_actions {
  display: flex;
  gap: 10px;
}

.comment_actions > div {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--gray4);
}

.comment_actions_report {
  margin-left: auto;
}

.comment_btn_section {
  display: flex;
  gap: 10px;
}

.comment_actions div {
  font-size: 16px;
}
.comment_actions svg {
  font-size: 16px;
}

.comment_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--gray2);
}

.comment_btn:hover {
  text-decoration: underline;
}

.textarea {
  width: 100%;
  outline: none;
  padding: 8px 4px;
  border: 1px solid var(--gray5);
  border-radius: 8px;
  resize: none; /* 수동 리사이즈 막기 */
  overflow: hidden; /* 스크롤바 제거 */
}

.textarea:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 0.25rem rgba(37, 99, 235, 0.3);
}

.textarea:disabled {
  border: none;
  background-color: var(--gray8);
}

.isLiked div {
  color: var(--primary);
}
.isLiked svg {
  fill: var(--primary);
}

.isDisliked div {
  color: var(--danger);
}
.isDisliked svg {
  fill: var(--danger);
}

.isCommented div {
  color: rgb(82, 161, 124);
}
.isCommented svg {
  fill: rgb(82, 161, 124);
}

.isReported div {
  color: var(--danger);
}
.isReported svg {
  fill: var(--danger);
}

.action_default div {
  color: var(--gray4);
}
.action_default svg {
  fill: var(--gray4);
}

.views_done div {
  color: var(--gray4);
  font-size: 14px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.comment_date {
  font-size: 13px;
  color: var(--gray5);
}

.edited {
  font-size: 13px;
  color: var(--gray5);
}

.writer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.isLiked,
.isDisliked,
.isCommented,
.action_default {
  display: flex;
  align-items: center;
  gap: 3px;
}
