/* 전체 적용 */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* 전체 랩 SearchBox, List_wrap*/
.market_wrap {
  width: 900px;
  margin: 0 auto;
}

/* 검색창 정렬박스 */
.market_searchbox {
  background-color: white;
  display: flex;
  justify-content: center;
}
.market_searchbox > form > div > input {
  height: 42px;
  width: 363px;
}
.market_searchbox > form > button {
  height: 42px;
}
.market_searchbox > form {
  width: 900px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

/* 마켓 게시물이 없을때 */
.no_result {
  margin: 50px 0;
  padding: 50px 0;
  text-align: center;
  border-radius: 8px;
  background-color: var(--gray7);
  font-weight: 900;
  font-size: 1.17em;
}

/* 마켓리스트*/

.market_list_wrap > ul {
  display: flex;
  margin-top: 24px;
  flex-direction: column;

  gap: 12px;
}
.market_list_wrap > ul > li {
  border-radius: 8px;
  border: 1px solid var(--gray6);
  padding: 12px;
  cursor: pointer;
  transition: 0.5s;
}
.market_list_wrap > ul > li:hover {
  background-color: var(--gray6);
}
.market_info_wrap {
  display: flex;
  gap: 12px; /*사진과 정보 간격*/
}

/* 이미지 */
.market_info_wrap > img {
  /*background-color: var(--gray6);*/
  border-radius: 8px;
  height: 200px;
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  object-fit: cover;
}
/* 정보 */
.info {
  border-radius: 8px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* 세로정렬 */
  min-width: 0;
}
.member_wrap {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}
.member_wrap2 {
  display: flex;

  gap: 12px;
  align-items: center;
  padding: 4px;
}

.info_viewCount_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
}
.info_viewCount {
  color: var(--gray4);
}

/*멤버썸네일*/
.member_thumb {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 18px;
  background-color: var(--gray6);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray6);
}
.member_thumb_exists {
  width: 32px;
  height: 32px;
  border-radius: 18px;
  background-color: var(--gray6);
  overflow: hidden;
}
.member_thumb_exists > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member_thumb > span {
  color: var(--gray8);
  font-size: 40px;
}

/*판매주소*/
.info_sellAddr {
  font-size: 12px;
  padding: 4px;
  color: var(--gray4);
}

.info_title {
  /* 제목 */
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 4px;
}
.info_price {
  /*가격*/
  margin-left: 4px;
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
}
.info_price_free {
  margin-left: 4px;
  font-size: 16px;
  font-weight: bold;
  color: var(--danger);
}
/*아이콘랩 좋아요 댓글수 작성일*/
.info_icon_wrap1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_icon_wrap2 {
  display: flex;
  align-items: center;
  gap: 12px;
  /*좋아요 아이콘 댓글수 아이콘 사이 간격*/
}

/*좋아요 랩*/
.info_likeCount_wrap {
  margin-left: 4px; /*좋아요 아이콘과 이미지 사이 간격*/
  display: flex;
  gap: 8px;
  align-items: center;
}
.info_likeCount {
  color: var(--gray4);
}
/*댓글수 랩*/
.info_commentCount_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info_commentCount {
  color: var(--gray4);
}

.info_date_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
}
.info_date {
  color: var(--gray4);
}

/* 페이지네이션 */
.market_pagination {
  height: 48px;
  margin: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 글쓰기 버튼 박스 */
.market_writebox {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

/* 아이콘 옵션*/
.icon {
  font-size: 20px !important;
  color: var(--gray4);
}
.icon2 {
  font-size: 20px !important;
  fill: red !important;
}
.material_icons {
  font-size: 20px;
}
