.editor_box {
  background-color: burlywood;
}
.editor_wrap {
  border: 1px solid var(--secendary);
  border-radius: 8px;

  overflow: hidden;
}
.menu_bar {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 12px;

  justify-content: center;
}
.menu_bar button,
input {
  width: 50px;
  height: 50px;
  padding: 8px 12px;
  border: 1px solid var(--secendary);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--light); /*기본 배경*/
  color: var(--primary); /*기본 글자*/
}

.menu_bar button:hover {
  background-color: var(--secendary);
  color: var(--light);
}
.menu_bar button.active {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--light);
}
.editor_content {
  padding: 16px;
}
.editor_content > div {
  min-height: 400px;
  background-color: var(--light);
  padding: 12px;
  outline: none;
  border: 1px solid black;
  border-radius: 12px;
  line-height: 1.4;
}
.editor_content > div ul {
  padding-left: 20px;
}
